<!-- navbar.component.html -->
<nav class="navbar" [ngClass]="{ 'logged-in': isLoggedIn }">
  <div class="logo">
    <a routerLink="/home">
      <!-- <img src="/assets/barbeque-logo.svg" alt="Logo"> -->
    </a>
  </div>
  <ul class="nav-links">
    <li><a routerLink="/menu">Menu</a></li>
    <li><a routerLink="/cart">Carrito</a></li>
    <li><a routerLink="/checkout">Pago</a></li>
    <li><a routerLink="/order-confirmation">Confirmación de orden</a></li>
    <li><a routerLink="/reserva">Reserva</a></li>
    <li><a routerLink="/order-history">Historial de órdenes</a></li>
    <li><a routerLink="/user-profile">Perfil del usuario</a></li>
    <li><a routerLink="/contact-us">Contactanos</a></li>
    <li><a routerLink="/user-login">user</a></li>
    <li *ngIf="!isLoggedIn"><a routerLink="/login">Login</a></li>
    <li *ngIf="!isLoggedIn"><a routerLink="/register">Register</a></li>
    <li *ngIf="isLoggedIn"><button (click)="logout()" class="logout-button">Logout</button></li>
  </ul>
  <!-- <div class="nav-icons">
    <span class="search-icon">&#128269;</span> 
    <span class="cart-icon">&#128722;</span> Aquí puedes usar un ícono de carrito
  </div> -->
  <div *ngIf="isLoggedIn" class="welcome-message">
    {{ clienteNombre }}
  </div>
</nav>

