.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--navbar-background);
}

.nav-section {
  display: flex;
  flex: 1;
}

.nav-section.left {
  justify-content: flex-start;
}

.nav-section.right {
  justify-content: flex-end;
}

.nav-links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin: 0 10px;
}

.nav-link {
  color: var(--navbar-link-color);
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  transition: color 0.3s, border-bottom 0.3s;
}

.nav-link:hover {
  color: var(--navbar-link-hover);
  border-bottom: 2px solid var(--navbar-link-underline);
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0;
}

.logo {
  height: 80px;
}

.logout-button {
  background: none;
  border: none;
  color: var(--navbar-link-color);
  cursor: pointer;
  font-weight: bold;
}

.logout-button:hover {
  color: var(--navbar-link-hover);
}

.welcome-message {
  background-color: #5a5108;  /* Color de fondo */
  color: white;  /* Color del texto */
  padding: 10px 20px;  /* Espaciado interior */
  border-radius: 5px;  /* Bordes redondeados */
  font-size: 18px;  /* Tamaño de la fuente */
  font-weight: bold;  /* Texto en negrita */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Sombra */
  margin: 0px 0;  /* Margen */
  text-align: center;  /* Texto centrado */
  transition: background-color 0.3s ease;  /* Transición para el color de fondo */
}

.welcome-message:hover {
  background-color: #c6a6a6;  /* Color de fondo al pasar el ratón */
}
