<nav class="navbar" [ngClass]="{ 'logged-in': isLoggedIn }">
  <div class="nav-section left">
    <ul class="nav-links">
      <li class="nav-item"><a routerLink="/menu" class="nav-link">Menu</a></li>
      <li class="nav-item"><a routerLink="/cart" class="nav-link">Carrito</a></li>
      <li class="nav-item"><a routerLink="/contactanos" class="nav-link">Contactanos</a></li>
    </ul>
  </div>
  <div class="logo-container">
    <a routerLink="/menu">
      <img src="/logoTerminado.png" alt="Sabor Express Logo" class="logo">
    </a>
  </div>
  <div class="nav-section right">
    <ul class="nav-links">
      <li class="nav-item"><a routerLink="/user-login" class="nav-link">Admin</a></li>
      <li class="nav-item" *ngIf="!isLoggedIn"><a routerLink="/login" class="nav-link">Iniciar Sesión</a></li>
      <li class="nav-item" *ngIf="!isLoggedIn"><a routerLink="/register" class="nav-link">Registrarse</a></li>
      <li class="nav-item" *ngIf="isLoggedIn"><button (click)="logout()" class="logout-button nav-link">Cerrar sesión</button></li>
    </ul>
    <div *ngIf="isLoggedIn" class="welcome-message">
      {{ clienteNombre }}
    </div>
  </div>
</nav>
