<div #boleta id="principal" *ngIf="ordenId">
  <img [src]="'logoTerminado.png'" alt="logo" class="logo-image">
  <div class="header-section">
    <h1>Restaurante</h1>
    <p>RESTAURANTE S.A.C</p>
    <p>R.U.C.: 20123456789</p>
    <p>Calle Paucarpata ***</p>
    <p>Cercado - Arequipa</p>
    <p>Tel: 123-4567</p>
    <p><i>{{correo}}</i></p>
  </div>
  <h2 class="boleta-title">BOLETA DE VENTA ELECTRÓNICA</h2>
  <div class="details-section">
    <p><span class="bold">Orden ID:</span> {{ ordenId }}</p>
    <p><span class="bold">Fecha:</span> {{ currentDate }}</p>
    <p><span class="bold">Hora:</span> {{ currentTime }}</p>
    <p><span class="bold">CLIENTE:</span> {{clienteNombre}}</p>
  </div>
  <h2 class="boleta-subtitle">Boleta de Compra</h2>
  <ul class="product-list">
    <li *ngFor="let producto of productos" class="product-item">
      {{ producto.nombre }} - <span class="product-price">{{ producto.precio | currency }}</span>
    </li>
  </ul>
  <p class="total">Total: {{ total | currency }}</p>
</div>
<div *ngIf="!ordenId">
  <p class="error-message">Error: No se ha proporcionado un ID de orden.</p>
</div>
<div class="button-container">
  <button class="boleta-button" (click)="generarPDF()">Imprimir Boleta</button>
  <button class="boleta-button" (click)="enviarBoletaPorEmail()">Enviar Boleta por Email</button>
</div>
<p id="mensaje">{{mensaje}}</p>
