:root {
    --primary-color: #F08080; /* Light Coral */
    --secondary-color: #FFA500; /* Orange */
    --background-color: #FFF5EE; /* Seashell */
    --text-color: #2F4F4F; /* Dark Slate Gray */
    --accent-color: #FFA500; /* Orange */
    --button-color: #F08080; /* Light Coral */
    --button-hover-color: #FF6347; /* Tomato */
    --navbar-background: #f9d7d7; /* Very Light Coral */
    --navbar-link-color: #da4506; /* Dark Orange */
    --navbar-link-hover: #3e1402; /* Dark Brown */
    --navbar-link-underline: #c11700; /* Red */
    --card-background-color: #fbe6d4; /* Peach Puff */
    --card-text-color: #8B4513; /* Saddle Brown */
    --admin-background-color: #333333; /* Dark Grey */
    --admin-text-color: #FFFFFF; /* White */
    --admin-button-color: #666666; /* Medium Grey */
    --admin-button-hover-color: #888888; /* Light Grey */
    --contact-background: #fef9f9; /* Seashell */
    --contact-border: #F08080; /* Light Coral */
    --contact-title-color: #2F4F4F; /* Dark Slate Gray */
    --contact-info-bg: #f5e8e7; /* Peach Puff */
    --contact-info-border: #8B4513; /* Saddle Brown */
    --map-border: #FFA500; /* Orange */
  }

  html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* Evita el scroll horizontal */
  }

  