<div class="contact-container">
    <h1>Contáctanos</h1>
    <p>Si tienes alguna pregunta o necesitas más información, no dudes en contactarnos.</p>
  
    <div class="contact-info">
      <h2>Información del Restaurante</h2>
      <p><strong>Nombre:</strong> Restaurante S.A.C</p>
      <p><strong>Dirección:</strong> Calle Paucarpata ***</p>
      <p><strong>Ciudad:</strong> Cercado - Arequipa</p>
      <p><strong>Teléfono:</strong> 123-4567</p>
      <p><strong>Email:</strong> {{correo}}</p>
    </div>
  
    <div class="map">
      <h2>Ubicación</h2>
      <!-- Puedes incrustar un mapa de Google Maps aquí -->
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31686.389424100365!2d-71.53696027045763!3d-16.40904742501432!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91424b599abc1937%3A0x4cf40238e7c79d00!2sArequipa!5e0!3m2!1ses-419!2spe!4v1623098304551!5m2!1ses-419!2spe"
        width="600"
        height="450"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
      ></iframe>
    </div>
  </div>
  