<div id="productos">
  <h1>Carrito</h1>
  <ul class="product-list">
    <li *ngFor="let producto of productos" class="product-item">
      <div *ngIf="producto.imagen">
        <img [src]="'http://127.0.0.1:8000/'+ producto.imagen" alt="{{ producto.nombre }}" class="product-image">
      </div>
      <div *ngIf="!producto.imagen">
        <p>Nombre: {{ producto.nombre }}</p>
        <p>No Image Available</p>
      </div>
      <div>
        <span class="product-name">{{ producto.nombre }}</span>
        <p>{{ producto.descripcion }}</p>
        <span class="product-price">Precio: {{ producto.precio }}</span>
      </div>
    </li>
  </ul>
  <h3>Total: {{ calcularTotal() | currency }}</h3>
  <button (click)="procederPago()">Proceder al Pago</button>
</div>
