<div class="about-container1">
    <div class="about-container">
      <h1 class="about-title">Sobre Nosotros</h1>
      <div class="about-content">
        <div class="about-text">
          <p>¡Bienvenidos a Restaurante S.A.C!</p>
          <p>Soy Juan Perez, el orgulloso fundador de Restaurante Sabor Express S.A.C. Nuestra historia comenzó hace más de 20 años, cuando decidí seguir mi pasión por la cocina y la hospitalidad. Después de años de trabajar en la industria y viajar por el mundo, me di cuenta de que quería crear un lugar donde las personas pudieran disfrutar de comida deliciosa, en un ambiente acogedor y familiar.</p>
          <p>Desde el primer día, nuestro objetivo ha sido ofrecer a nuestros clientes una experiencia culinaria única. Nos enfocamos en utilizar ingredientes frescos y de alta calidad, apoyando a productores locales y manteniendo un enfoque sostenible en todo lo que hacemos.</p>
          <p>Nuestro menú está inspirado en una mezcla de recetas tradicionales y contemporáneas, con influencias de mis viajes y experiencias culinarias. Cada plato está preparado con cuidado y dedicación, buscando siempre sorprender y deleitar a nuestros comensales.</p>
          <p>A lo largo de los años, Restaurante S.A.C. se ha convertido en un lugar querido por la comunidad, gracias al apoyo y lealtad de nuestros clientes. Continuamos esforzándonos por mejorar y adaptarnos, siempre escuchando las sugerencias y comentarios de nuestros visitantes.</p>
          <p>Gracias por ser parte de nuestra historia. Esperamos verte pronto y compartir contigo nuestra pasión por la buena comida y la hospitalidad.</p>
          <p>¡Bienvenidos a Restaurante Sabor Express S.A.C!</p>
          <p>Atentamente,</p>
          <p>Juan Perez</p>
        </div>
        <div class="about-image">
          <img src="/chef.avif" alt="Restaurante Sabor Express">
          <img src="/comida.jpg" alt="Comida">
          <img src="/mesas.jpg" alt="Mesas del Restaurante">
        </div>
      </div>
    </div>
  </div>
  