
:root {
  --primary-color: #F08080; /* Light Coral */
  --secondary-color: #FFA500; /* Orange */
  --background-color: #FFF5EE; /* Seashell */
  --text-color: #2F4F4F; /* Dark Slate Gray */
  --accent-color: #FFA500; /* Orange */
  --button-color: #F08080; /* Light Coral */
  --button-hover-color: #FF6347; /* Tomato */
  --navbar-background: #f9d7d7; /* Very Light Coral */
  --navbar-link-color: #da4506; /* Dark Orange */
  --navbar-link-hover: #3e1402; /* Dark Brown */
  --navbar-link-underline: #c11700; /* Red */
  --card-background-color: #FFDAB9; /* Peach Puff */
  --card-text-color: #8B4513; /* Saddle Brown */
}

:host {
  display: block;
  background: url('/fon2.webp') no-repeat center center fixed; /* Ruta a la imagen de fondo */
  background-size: cover;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  position: relative;
  padding: 0;
  margin: 0;
}

  .login-container1 {
    padding: 25vh;
    
  }


.login-container {
  padding: 20px;
  background-color: var(--background-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0px auto;
  width: 80%;
  max-width: 400px;
  text-align: center;
}

.login-title {
  font-size: 2em;
  color: var(--text-color);
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  color: var(--text-color);
  font-size: 1em;
}

.form-input {
  width: 100%;
  padding: 12px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  font-size: 1em;
  box-sizing: border-box; /* Para asegurar que el padding no afecte al ancho */
}

.error-message {
  color: red;
  margin-bottom: 15px;
  font-size: 0.9em;
}

.login-button {
  padding: 10px 20px;
  background-color: var(--button-color);
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
  margin-top: 10px;
  width: 100%;
}

.login-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.login-button:hover:not(:disabled) {
  background-color: var(--button-hover-color);
}
