<div class="terms-container1">
    <div class="terms-container">
        <h1>Términos y Condiciones</h1>
        <p>Bienvenido a Restaurante Sabor Express. Estos términos y condiciones describen las reglas y regulaciones para
            el uso del sitio web de Restaurante Sabor Express.</p>

        <h2>1. Introducción</h2>
        <p>Al acceder a este sitio web, asumimos que aceptas estos términos y condiciones en su totalidad. No continúes
            usando el sitio web de Restaurante Sabor Express si no aceptas todos los términos y condiciones establecidos
            en esta página.</p>

        <h2>2. Cookies</h2>
        <p>Empleamos el uso de cookies. Al utilizar el sitio web de Restaurante Sabor Express, aceptas el uso de cookies
            de acuerdo con la política de privacidad de Restaurante Sabor Express.</p>

        <h2>3. Licencia</h2>
        <p>A menos que se indique lo contrario, Restaurante Sabor Express y/o sus licenciantes poseen los derechos de
            propiedad intelectual de todo el material en Restaurante Sabor Express. Todos los derechos de propiedad
            intelectual están reservados.</p>

        <h2>4. Uso del Contenido</h2>
        <p>Puedes ver y/o imprimir páginas desde https://www.restaurantesaborexpress.com para tu uso personal sujeto a
            restricciones establecidas en estos términos y condiciones.</p>

        <h2>5. Comentarios</h2>
        <p>Partes de este sitio web ofrecen la oportunidad a los usuarios de publicar e intercambiar opiniones,
            información, material y datos ('Comentarios'). Restaurante Sabor Express no filtra, edita, publica ni revisa
            los Comentarios antes de su aparición en el sitio web y los Comentarios no reflejan las opiniones o
            políticas de Restaurante Sabor Express.</p>

        <h2>6. Enlaces a Otros Sitios Web</h2>
        <p>Nuestro servicio puede contener enlaces a sitios web de terceros o servicios que no son propiedad ni están
            controlados por Restaurante Sabor Express. No tenemos control y no asumimos responsabilidad por el
            contenido, políticas de privacidad o prácticas de sitios web o servicios de terceros.</p>

        <h2>7. Cambios</h2>
        <p>Restaurante Sabor Express se reserva el derecho de revisar estos términos y condiciones en cualquier momento.
            Al usar este sitio web, aceptas estar obligado por la versión actual de estos términos y condiciones.</p>

        <h2>Contacto</h2>
        <p>Si tienes alguna pregunta sobre estos Términos y Condiciones, contáctanos en
            contacto&#64;restaurantesaborexpress.com.</p>
    </div>
</div>