<div class="privacy-container1">
    <div class="privacy-container">
        <h1>Política de Privacidad</h1>
        <p>En Restaurante Sabor Express, accesible desde https://www.restaurantesaborexpress.com, una de nuestras
            principales prioridades es la privacidad de nuestros visitantes. Esta política de privacidad describe los
            tipos de información que recopilamos y registramos en Restaurante Sabor Express y cómo la usamos.</p>

        <h2>1. Información que Recopilamos</h2>
        <p>Recopilamos varios tipos de información para diversos propósitos, con el fin de proporcionar y mejorar
            nuestro servicio.</p>

        <h2>2. Uso de la Información</h2>
        <p>Restaurante Sabor Express utiliza los datos recopilados para diversos propósitos:</p>
        <ul>
            <li>Para proporcionar y mantener nuestro servicio.</li>
            <li>Para notificarte sobre cambios en nuestro servicio.</li>
            <li>Para permitirte participar en funciones interactivas de nuestro servicio cuando elijas hacerlo.</li>
            <li>Para proporcionar atención al cliente.</li>
            <li>Para recopilar análisis o información valiosa que nos permitan mejorar nuestro servicio.</li>
            <li>Para monitorear el uso de nuestro servicio.</li>
            <li>Para detectar, prevenir y abordar problemas técnicos.</li>
        </ul>

        <h2>3. Protección de la Información</h2>
        <p>La seguridad de tus datos es importante para nosotros, pero recuerda que ningún método de transmisión por
            Internet, o método de almacenamiento electrónico, es 100% seguro. Si bien nos esforzamos por utilizar medios
            comercialmente aceptables para proteger tu información personal, no podemos garantizar su seguridad
            absoluta.</p>

        <h2>4. Enlaces a Otros Sitios</h2>
        <p>Nuestro servicio puede contener enlaces a otros sitios que no son operados por nosotros. Si haces clic en un
            enlace de un tercero, serás dirigido al sitio de ese tercero. Te recomendamos encarecidamente que revises la
            política de privacidad de cada sitio que visites.</p>

        <h2>5. Cambios a esta Política de Privacidad</h2>
        <p>Podemos actualizar nuestra política de privacidad de vez en cuando. Te notificaremos cualquier cambio
            publicando la nueva política de privacidad en esta página.</p>

        <h2>Contacto</h2>
        <p>Si tienes preguntas sobre esta Política de Privacidad, contáctanos en
            contacto&#64;restaurantesaborexpress.com.</p>
    </div>
</div>